{% extends "base.html" %}

{% block title %}
    矢隆OA-部门管理
{% endblock %}

{% block style %}
    <style>
        .register{
            overflow: hidden;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="register col-md-12">
        <form method="post" class="form form-horizontal">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
            <div class="form-group">
                <label class="control-label">部门名称</label>
                <input class="form-control" type="text" name="d_name" value="{{ depart.d_name }}">
            </div>
            <div class="form-group">
                <label class="control-label">部门描述</label>
                <textarea class="form-control" name="d_des">{{ depart.d_description }}</textarea>
            </div>
            <div>
                <input class="btn btn-primary pull-right" type="submit" value="修改部门">
            </div>
        </form>
    </div>
{% endblock %}
